body{
	padding: 0;
	margin: 0;
	font-family: Lato, 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif; 
	text-align: center;

}
header{
	padding-top: .5em;
}
footer{
	padding: 1em;
}
.event{
	padding: 1em;
}
h1, h2{
	font-size: 2.5em;
	font-weight:100;
}
h1, h2, h4{
	margin: 0;
}
h4{
	font-style: italic;
}
.sunset{
	background-color: #ff566e;
	background-image: -moz-linear-gradient(left, #ff7e2a, #ff566d);
	background-image: -ms-linear-gradient(left, #ff7e2a, #ff566d);
	background-image: -o-linear-gradient(left, #ff7e2a, #ff566d);
	background-image: -webkit-gradient(linear, 
	left top, right top, from(#ff7e2a), to(#ff566d));
	background-image: -webkit-linear-gradient(left, #ff7e2a, #ff566d);

}
.sunrise{
	background-color: #ff7e00;
	background-image: -moz-linear-gradient(right, #ff7e2a, #ff566d);
	background-image: -ms-linear-gradient(right, #ff7e2a, #ff566d);
	background-image: -o-linear-gradient(right, #ff7e2a, #ff566d);
	background-image: -webkit-gradient(linear, 
		right top, left top, from(#ff7e2a), to(#ff566d));
	background-image: -webkit-linear-gradient(right, #ff7e2a, #ff566d);
}
.high{
	background-image: -moz-linear-gradient(left, #1270b0, #31c3f7);
	background-image: -ms-linear-gradient(left, #1270b0, #31c3f7);
	background-image: -o-linear-gradient(left, #1270b0, #31c3f7);
	background-image: -webkit-gradient(linear, 
		left top, right top, from(#1270b0), to(#31c3f7));
	background-image: -webkit-linear-gradient(left, #1270b0, #31c3f7);

}
.low{
	background-image: -moz-linear-gradient(right, #1270b0, #31c3f7);
	background-image: -ms-linear-gradient(right, #1270b0, #31c3f7);
	background-image: -o-linear-gradient(right, #1270b0, #31c3f7);
	background-image: -webkit-gradient(linear, 
		right top, left top, from(#1270b0), to(#31c3f7));
	background-image: -webkit-linear-gradient(right, #1270b0, #31c3f7);
}
header{
	background-color: #c5ffff;
	overflow:hidden;
	font-style: italic;
}
.butt{
	font-weight: 100;
	margin: 1em 5%;
	float:left;
	text-align: center;
	width: 40%;
	font-size: 1.25em;
	padding:.75em 0;
}
.selected{
	background-color: #8fcccc;
	font-weight: 300;
}
.container{
	max-width: 700px;
	margin: 0 auto;
	background-color: #fcfffa;
}
.weather{
	border-top: 3px solid #cccccc;
	border-bottom: 3px solid #cccccc;
	padding: 1em;
}
.buttons{
	width: 100%;
	margin: 0 auto;
}
a, a.visited, a.hover{
	text-decoration: none;
	color: #000000;
}
footer a{
	color: #cccccc;
}
p{
	padding: 0;
	margin: 0;
}
.old {
	display: none;
}
